<div *ngIf="!sondage">Chargement...</div>

<div *ngIf="sondage" class="detail-container">

  <!-- HEADER -->
  <div class="sondage-header">

    <div class="header-left">
      <h2>{{ sondage.title }}</h2>
      <p class="desc">{{ sondage.description }}</p>
    </div>

    <div class="header-right">

      <span class="status" [ngClass]="'status-' + sondage.statut">
        {{ formatStatus(sondage.statut) }}
      </span>

      <div class="dates">
        <span>📅 Début: {{ sondage.dateDebut | date:'dd/MM/yyyy, HH:mm' }}</span>
        <span>⏳ Fin: {{ sondage.dateFin | date:'dd/MM/yyyy, HH:mm' }}</span>
      </div>

    </div>

  </div>

  <hr>

  <div class="actions">

    <!-- BROUILLON actions -->
    <button 
      *ngIf="sondage?.statut === 'BROUILLON'"
      class="publish-btn"
      (click)="publish()">
      Publier
    </button>

    <button 
      *ngIf="sondage?.statut === 'BROUILLON'"
      class="reject-btn"
      (click)="reject()">
      Rejeter
    </button>

    <!-- PUBLISHED -->
    <button 
      *ngIf="sondage?.statut === 'PUBLISHED'"
      class="unpublish-btn"
      (click)="unpublish()">
      Annuler publication
    </button>

    <!-- EDIT -->
    <button 
      *ngIf="canEdit()"
      (click)="onEdit()"
      class="edit-btn">
      Modifier
    </button>

    <!-- DELETE -->
    <button 
      *ngIf="sondage.statut === 'REJECTED'"
      class="delete-btn"
      (click)="deleteSondage()">
      Supprimer
    </button>

  </div>

  <div *ngIf="successMessage" class="success-msg">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-msg">
    {{ errorMessage }}
  </div>


  <hr>

  <!-- QUESTIONS -->
  <div *ngFor="let q of sondage?.questions" class="question">

    <h4>
      {{ q.text }} 
      <span class="question-type">({{ formatType(q.type) }})</span>
      <span *ngIf="q.required" class="required"> *</span>
    </h4>

    <!-- SINGLE -->
    <div *ngIf="q.type === 'CHOIX_UNIQUE'" class="choices">
      <div *ngFor="let c of q?.choixList" class="choice selectable">
        <span class="circle"></span>
        {{ c.label }}
      </div>
    </div>

    <!-- MULTIPLE -->
    <div *ngIf="q.type === 'CHOIX_MULTIPLE'" class="choices">
      <div *ngFor="let c of q?.choixList" class="choice selectable">
        <span class="checkbox"></span>
        {{ c.label }}
      </div>
    </div>
    

  </div>

</div>