<div *ngIf="!sondage">Chargement...</div>

<div *ngIf="sondage" class="detail-container">

  <!-- HEADER -->
  <div class="sondage-header">

    <div class="header-left">
      <h2>{{ sondage.title }}</h2>
      <p class="desc">{{ sondage.description }}</p>
    </div>

    <div class="header-right">

      <span class="status" [ngClass]="'status-' + sondage.statut">
        {{ formatStatus(sondage.statut) }}
      </span>

      <div class="dates">
        <span>📅 Début: {{ sondage.dateDebut | date:'dd/MM/yyyy, HH:mm' }}</span>
        <span>⏳ Fin: {{ sondage.dateFin | date:'dd/MM/yyyy, HH:mm' }}</span>
      </div>

    </div>

  </div>

  <hr>

  <button 
    *ngIf="sondage.statut === 'BROUILLON'"
    class="publish-btn"
    (click)="publish()"
    >
    🚀 Publier
  </button>

  <!-- UNPUBLISH -->
  <button 
    *ngIf="sondage.statut === 'PUBLISHED'"
    class="unpublish-btn"
    (click)="unpublish()"
    >
    ⛔ Annuler publication
  </button>

  <div *ngIf="successMessage" class="success-msg">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-msg">
    {{ errorMessage }}
  </div>


  <hr>

  <!-- QUESTIONS -->
  <div *ngFor="let q of sondage.questions" class="question">

    <h4>{{ q.text }}</h4>

    <!-- SINGLE -->
    <div *ngIf="q.type === 'CHOIX_UNIQUE'" class="choices">
      <div *ngFor="let c of q.choixList" class="choice selectable">
        <span class="circle"></span>
        {{ c.label }}
      </div>
    </div>

    <!-- MULTIPLE -->
    <div *ngIf="q.type === 'CHOIX_MULTIPLE'" class="choices">
      <div *ngFor="let c of q.choixList" class="choice selectable">
        <span class="checkbox"></span>
        {{ c.label }}
      </div>
    </div>

    <!-- TEXT -->
    <div *ngIf="q.type === 'TEXTE'">
      <textarea placeholder="Votre réponse..." class="text-answer"></textarea>
    </div>

  </div>

</div>