<!-- 🔥 LOADER -->
<div *ngIf="loadingService.loading$ | async" class="loading-overlay">
  <div class="spinner"></div>
</div>

<!-- PAGE -->
<div class="profile-container">

  <h2>Modifier mon profil</h2>

  <div *ngIf="successMessage" class="success-box">
    {{ successMessage }}
  </div>

  <!-- AVATAR -->
  <div class="avatar-container">
    <div class="avatar-wrapper">

      <div 
        class="avatar"
        [style.background-image]="'url(' + getAvatarUrl() + ')'"
      >

        <span 
          class="delete-icon"
          *ngIf="userPhoto && !preview"
          (click)="removePhoto($event)">
          🗑
        </span>

        <span class="camera">
          {{ preview || userPhoto ? '✏️' : '📷' }}
        </span>

        <input 
          type="file"
          (change)="onFileSelected($event)"
          class="file-input"
        >
      </div>
    </div>
  </div>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="update()">

    <label>Nom</label>
    <input type="text" formControlName="nom">

    <label>Prénom</label>
    <input type="text" formControlName="prenom">

    <label>Email</label>
    <input type="email" formControlName="email">

    <label>Téléphone</label>
    <input type="text" formControlName="telephone">

    <label>Mot de passe actuel</label>
    <div class="password-field">
      <input [type]="showCurrent ? 'text' : 'password'" formControlName="currentPassword">
      <span (click)="toggleCurrent()" class="eye">👁</span>
    </div>

    <label>Nouveau mot de passe</label>
    <div class="password-field">
      <input [type]="showNew ? 'text' : 'password'" formControlName="newPassword">
      <span (click)="toggleNew()" class="eye">👁</span>
    </div>

    <button type="submit">Modifier</button>

  </form>
</div>