<!-- 🔥 LOADER -->
<div *ngIf="loadingService.loading$ | async" class="loading-overlay">

  <div class="spinner"></div>

</div>

<!-- PAGE -->

<div class="profile-container">

  <h2>

    <span class="material-icons icon">person</span>
    Modifier mon profil

  </h2>

  <!-- AVATAR -->

  <div class="avatar-container">

    <div class="avatar-wrapper">

      <div 
        class="avatar"
        [style.background-image]="'url(' + getAvatarUrl() + ')'">

        <div
          class="avatar-preview-layer"
          (click)="openImagePreview()">
        </div>

        <!-- DELETE -->

        <span 
          class="delete-icon"
          *ngIf="userPhoto && !preview"
          (click)="removePhoto($event)">

          <span class="material-icons">delete</span>

        </span>

        <!-- EDIT -->

        <span 
          class="camera"
          (click)="fileInput.click(); $event.stopPropagation()">

          <span class="material-icons">
            {{ preview || userPhoto ? 'edit' : 'photo_camera' }}
          </span>

        </span>

        <!-- INPUT -->

        <input 
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          class="file-input">

      </div>

    </div>

  </div>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="update()">

    <label>
      <span class="material-icons icon">badge</span>
      Nom
    </label>

    <input type="text" formControlName="nom">

    <div class="field-error"
        *ngIf="form.get('nom')?.touched &&
                form.get('nom')?.errors?.['pattern']">

      Le nom doit contenir uniquement des lettres

    </div>


    <label>
      <span class="material-icons icon">person</span>
      Prénom
    </label>

    <input type="text" formControlName="prenom">

    <div class="field-error"
        *ngIf="form.get('prenom')?.touched &&
                form.get('prenom')?.errors?.['pattern']">

      Le prénom doit contenir uniquement des lettres

    </div>

    <div class="field-error"
        *ngIf="validationErrors.prenom">

      {{ validationErrors.prenom }}

    </div>

    <label>
      <span class="material-icons icon">mail</span>
      Email
    </label>

    <input type="email" formControlName="email">

    <div class="field-error"
        *ngIf="form.get('email')?.touched &&
                form.get('email')?.errors?.['email']">

      Email invalide

    </div>

    <div class="field-error"
        *ngIf="validationErrors.email">

      {{ validationErrors.email }}

    </div>

    <label>
      <span class="material-icons icon">call</span>
      Téléphone
    </label>

    <input type="text" formControlName="telephone">

    <div class="field-error"
        *ngIf="form.get('telephone')?.touched &&
                form.get('telephone')?.errors?.['pattern']">

      Le téléphone doit contenir exactement 8 chiffres

    </div>

    <div class="field-error"
        *ngIf="validationErrors.telephone">

      {{ validationErrors.telephone }}

    </div>

    <label>

      <span class="material-icons icon">lock</span>
      Mot de passe actuel

    </label>

    <div class="password-field">

      <input
        [type]="showCurrent ? 'text' : 'password'"
        formControlName="currentPassword">

      <span (click)="toggleCurrent()" class="eye">

        <span class="material-icons">
          {{ showCurrent ? 'visibility_off' : 'visibility' }}
        </span>

      </span>

    </div>

    <div class="field-error"
        *ngIf="validationErrors.currentPassword">

      {{ validationErrors.currentPassword }}

    </div>

    <label>

      <span class="material-icons icon">lock_reset</span>
      Nouveau mot de passe

    </label>

    <div class="password-field">

      <input
        [type]="showNew ? 'text' : 'password'"
        formControlName="newPassword">

      <span (click)="toggleNew()" class="eye">

        <span class="material-icons">
          {{ showNew ? 'visibility_off' : 'visibility' }}
        </span>

      </span>

    </div>

    <div class="field-error"
        *ngIf="form.get('newPassword')?.touched &&
                form.get('newPassword')?.errors?.['minlength']">

      Le mot de passe doit contenir au moins 6 caractères

    </div>

    <div class="field-error"
        *ngIf="validationErrors.newPassword">

      {{ validationErrors.newPassword }}

    </div>

    <button type="submit">

      <span class="material-icons icon">save</span>
      Modifier

    </button>

    <div *ngIf="successMessage" class="success-box">

      <span class="material-icons icon">check_circle</span>
      {{ successMessage }}

    </div>

    <div *ngIf="errorMessage" class="error-box">

      <span class="material-icons icon">error</span>
      {{ errorMessage }}

    </div>

  </form>

</div>