<div class="page">

  <div class="header-pro">

  <div class="header-left">
    <div class="icon">📊</div>

    <div>
      <h1>Mes inscriptions</h1>
      <p>Suivi de vos événements en temps réel</p>
    </div>
  </div>

  <div class="header-right">
    <span class="badge-global">
      {{ inscriptions.length }} total
    </span>
  </div>

</div>

  <!-- STATS -->
  <div class="stats" *ngIf="!loading && inscriptions.length > 0">

    <div class="stat-card">
      <span class="stat-number">{{ inscriptions.length }}</span>
      <span class="stat-label">Événements</span>
    </div>

    <div class="stat-card">
      <span class="stat-number">
        {{ inscriptions.filter(i => i.statut === 'ACCEPTEE').length }}
      </span>
      <span class="stat-label">Acceptés</span>
    </div>

    <div class="stat-card">
      <span class="stat-number">
        {{ inscriptions.filter(i => i.statut === 'EN_ATTENTE').length }}
      </span>
      <span class="stat-label">En attente</span>
    </div>

  </div>

  <!-- LOADING (SKELETON) -->
  <ng-container *ngIf="loading; else content">
    <div class="cards">
      <div class="card skeleton" *ngFor="let i of [1,2,3,4]">
        <div class="img skeleton-box"></div>
        <div class="card-body">
          <div class="skeleton-text"></div>
          <div class="skeleton-text small"></div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- CONTENT -->
  <ng-template #content>

    <!-- LIST -->
    <div *ngIf="inscriptions.length > 0; else empty" class="cards">

      <div class="card fade-in" *ngFor="let ins of inscriptions">

        <!-- IMAGE -->
        <div class="img-container">
          <img 
            [src]="'http://localhost:8080/api/evenements/photo/' + ins.evenementId"
            class="img"
          >

          <!-- BADGE STATUT -->
          <span class="badge" [ngClass]="getStatutClass(ins.statut)">
            {{ ins.statut }}
          </span>
        </div>

        <!-- BODY -->
        <div class="card-body">

          <h3 class="title">{{ ins.titreEvenement }}</h3>

          <div class="info">
            <span>💳 Paiement</span>
            <span [ngClass]="getPaiementClass(ins.statutPaiement)">
              {{ ins.statutPaiement }}
            </span>
          </div>

        </div>

      </div>

    </div>

    <!-- EMPTY -->
    <ng-template #empty>
      <div class="empty-box">
        <p>😕 Aucun événement pour le moment</p>
        <span>Inscrivez-vous pour voir vos événements ici</span>
      </div>
    </ng-template>

  </ng-template>

</div>