<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- ===== HEADER ===== -->
  <div class="header">
    <h2>Créer un sondage</h2>
  </div>

  <!-- ===== SONDAGE INFO ===== -->
  <div class="sondage-header">
    <label>Titre</label>
    <input formControlName="title" placeholder="Ex: Satisfaction des membres" />

    <label>Description</label>
    <textarea formControlName="description" placeholder="Décrivez le sondage..."></textarea>
  </div>
  <div class="date-group">
    <div>
      <label>Date début</label>
      <input type="datetime-local" formControlName="dateDebut" />
    </div>

    <div>
      <label>Date fin</label>
      <input type="datetime-local" formControlName="dateFin" />
    </div>
  </div>

  <!-- ===== QUESTIONS ===== -->
  <div formArrayName="questions" class="questions-container">

    <div 
      *ngFor="let q of questions.controls; let i = index" 
      [formGroupName]="i"
      class="question-card"
    >

      <!-- Header -->
      <div class="question-header">
        <span>Question {{ i + 1 }}</span>
        <button type="button" class="delete-btn" (click)="removeQuestion(i)">✖</button>
      </div>

      <!-- Question -->
      <input 
        formControlName="text" 
        placeholder="Tapez votre question..." 
      />

      <!-- Type -->
      <select formControlName="type" (change)="onTypeChange(i)">
        <option value="CHOIX_UNIQUE">Choix unique</option>
        <option value="CHOIX_MULTIPLE">Choix multiple</option>
        <option value="TEXTE">Réponse libre</option>
      </select>

      <!-- Choices -->
      <div *ngIf="q.get('type')?.value !== 'TEXTE'" formArrayName="choix" class="choices">

        <div 
          *ngFor="let c of getChoix(i).controls; let j = index"
          class="choice-row"
        >
          <input [formControlName]="j" placeholder="Choix..." />
          <button type="button" class="delete-btn" (click)="removeChoice(i, j)">✖</button>
        </div>

        <button type="button" class="add-choice-btn" (click)="addChoice(i)">
          ➕ Ajouter un choix
        </button>

      </div>

    </div>

  </div>

  <!-- ===== ADD QUESTION ===== -->
  <button type="button" class="add-question-btn" (click)="addQuestion()">
    ➕ Ajouter une question
  </button>

  <!-- ===== SUBMIT ===== -->
  <button type="submit" class="submit-btn">
     Créer le sondage
  </button>

  <!-- ===== FEEDBACK ===== -->

  <div *ngIf="successMessage" class="success-msg">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-msg">
    {{ errorMessage }}
  </div>

</form>