.layout{
display:flex;
height:calc(100vh - 70px);
background:#f7f8f9;
}

/* SIDEBAR */

app-sidebar{
width:240px;
flex-shrink:0;
}

/* CONTENU */

.main-content{
flex:1;
padding:25px;
overflow-y:auto;
}