<div class="sidebar">

  <!-- PROFIL -->
  <div class="user-profile" routerLink="/profile">
    <img [src]="'assets/' + (user.photoProfil || 'imagepardefaut.jpg')" class="avatar">
    <span class="name">
      {{user.prenom}} {{user.nom}}
    </span>
  </div>

  <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    Dashboard
  </a>

  <a routerLink="/evenements" routerLinkActive="active">
    Mes événements
  </a>

  <a routerLink="/sondages" routerLinkActive="active">
    Sondages
  </a>

  <a routerLink="/elections" routerLinkActive="active">
    Elections
  </a>

  <!-- ✅ SEULEMENT AMICALE -->
  <div *ngIf="isAmicale">

    <button (click)="toggleEvents()" class="menu-button">
      Gestion événements
    </button>

    <ul *ngIf="showEventsMenu" class="submenu">

      <li>
        <a routerLink="/gestion-evenements" routerLinkActive="active">
          Ajouter événement
        </a>
      </li>

      <li>
        <a routerLink="/mes-evenements" routerLinkActive="active">
          Lister mes événements
        </a>
      </li>

    </ul>

  </div>

</div>