<div class="sidebar">

  <!-- Profil -->
  <div class="user-profile" routerLink="/profile">
    <img [src]="'assets/imagepardefaut.jpg'" class="avatar">
    <span class="name">
      {{user?.sub}}
    </span>
  </div>

  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/evenements" routerLinkActive="active">Mes événements</a>

  <!-- ❌ supprimer si pas de route -->
  <!-- <a routerLink="/sondages">Sondages</a> -->

  <a routerLink="/elections" routerLinkActive="active">Elections</a>

  <!-- AMICALE -->
  <div *ngIf="isAmicale">
    <button (click)="toggleEvents()" class="menu-button">
      Gestion événements
    </button>

    <ul *ngIf="showEventsMenu" class="submenu">
      <li>
        <a routerLink="/gestion-evenements">Ajouter événement</a>
      </li>
      <li>
        <a routerLink="/mes-evenements">Lister mes événements</a>
      </li>
    </ul>
  </div>

  <!-- ADMIN -->
  <div *ngIf="isAdmin">
    <button (click)="toggleUsers()" class="menu-button">
      Gestion utilisateurs
    </button>

    <ul *ngIf="showUsersMenu" class="submenu">
      <li>
        <a routerLink="/admin-create-user">Créer utilisateur</a>
      </li>
      <li>
        <a routerLink="/admin-users">Liste utilisateurs</a>
      </li>
    </ul>
  </div>

</div>