<form [formGroup]="eventForm" (ngSubmit)="createEvent()" *ngIf="typeEvenementId">

  <div class="form-container">

    <h1 class="page-title">
      <span *ngIf="typeEvenementId === 2">Créer un VOYAGE</span>
      <span *ngIf="typeEvenementId === 1">OMRA & HAJ</span>
      <span *ngIf="typeEvenementId === 3">Créer une CONVENTION</span>
    </h1>

    <div class="form-group">
      <label>Titre</label>
      <input formControlName="titre">
      <div class="error" *ngIf="f['titre'].touched && f['titre'].invalid">Obligatoire</div>
    </div>

    <div class="form-group" *ngIf="typeEvenementId !== 3">
      <label>Lieu</label>
      <input formControlName="lieu">
    </div>

    <div class="form-group" *ngIf="typeEvenementId === 2">
      <label>Destination</label>
      <input formControlName="destination">
      <div class="error" *ngIf="f['destination'].invalid && f['destination'].touched">Obligatoire</div>
    </div>

    <div class="form-group" *ngIf="typeEvenementId === 1">
      <label>Agence</label>
      <input formControlName="agence">
      <div class="error" *ngIf="f['agence'].invalid && f['agence'].touched">Obligatoire</div>
    </div>

    <div class="form-group" *ngIf="typeEvenementId === 3">
      <label>Société</label>
      <input formControlName="societe">
      <div class="error" *ngIf="f['societe'].invalid && f['societe'].touched">Obligatoire</div>
    </div>

    <div *ngIf="typeEvenementId !== 3">

      <div class="form-group">
        <label>Date début</label>
        <input type="date" formControlName="dateDebut">
      </div>

      <div class="form-group">
        <label>Date fin</label>
        <input type="date" formControlName="dateFin">
      </div>

      <div class="form-group">
        <label>Places</label>
        <input type="number" formControlName="nbPlaces">
      </div>

      <div class="form-group">
        <label>Prix</label>
        <input type="number" formControlName="prix">
      </div>

    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea formControlName="description"></textarea>
      <div class="error" *ngIf="f['description'].invalid && f['description'].touched">Obligatoire</div>
    </div>

    <div class="form-group">
      <input type="file" (change)="onFileSelected($event)" accept="image/*">
    </div>

    <button class="btn-modern" type="submit" [disabled]="eventForm.invalid">
      Créer l’événement
    </button>

  </div>

</form>