<div class="container" *ngIf="user">
    <h2>Modifier Utilisateur</h2>

    <div class="form">

        <div class="form-group">
            <label>Nom</label>
            <input [(ngModel)]="user.nom" />

            <div *ngIf="validationErrors.nom" class="error">
                {{ validationErrors.nom }}
            </div>
        </div>

        <div class="form-group">
            <label>Prénom</label>
            <input [(ngModel)]="user.prenom" />
            
            <div *ngIf="validationErrors.prenom" class="error">
                {{ validationErrors.prenom }}
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input [(ngModel)]="user.email" />
            <div *ngIf="validationErrors.email" class="error">
                {{ validationErrors.email }}
            </div>
        </div>

        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" [(ngModel)]="user.password"
                placeholder="laisser vide si pas changé" />
            <div *ngIf="validationErrors.password" class="error">
                {{ validationErrors.password }}
            </div>
        </div>


        <div class="form-group">
            <label>CIN</label>
            <input [(ngModel)]="user.cin" />
            <div *ngIf="validationErrors.cin" class="error">
                {{ validationErrors.cin }}
            </div>
        </div>

        <div class="form-group">
            <label>Téléphone</label>
            <input [(ngModel)]="user.telephone" />
            <div *ngIf="validationErrors.telephone" class="error">
                {{ validationErrors.telephone }}    
            </div>
        </div>
        


        <div class="form-group">
            <label>Département</label>
            <select [(ngModel)]="user.departement">
                <option *ngFor="let d of departements" [value]="d">
                {{ d }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Date de naissance</label>
            <input type="date" [(ngModel)]="user.date_naissance" />
        </div>

        <div class="form-group">
            <label>Type Adhérent</label>
            <select [(ngModel)]="user.typeAdherent" (change)="onTypeChange()">
                <option [ngValue]="null">-- Choisir un type --</option>
                <option *ngFor="let t of typesAdherent" [ngValue]="t">
                {{ t }}
                </option>
            </select>
        </div>

        <div *ngIf="user.typeAdherent === 'MEMBRE_AMICALE'">
            <div *ngIf="typeEvenements.length === 0" class="loading">
                Chargement des types...
            </div>

            <div *ngIf="typeEvenements.length > 0">
                <label>Type Événement</label>
                <select [(ngModel)]="user.typeEvenementId">
                    <option *ngFor="let t of typeEvenements" [ngValue]="t.id">
                        {{ t.nom }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" [(ngModel)]="user.actif" />
                Actif
            </label>
        </div>

        <button (click)="updateUser()">Enregistrer</button>
        <button (click)="router.navigate(['/admin-users'])">Annuler</button>

        <div *ngIf="successMessage" class="success">{{successMessage}}</div>
        <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>

    </div>
</div>