<div class="events-container" *ngIf="events$ | async as events; else noData">

  <div class="event-card" *ngFor="let event of events">

    <!-- 🔥 IMAGE + BADGE -->
    <div class="event-image-container">
      <img 
        [src]="event.photo 
          ? 'http://localhost:8080/uploads/events/' + event.photo 
          : 'assets/imagepardefaut.jpg'" 
        class="event-image"
      >

      <!-- 🔥 BADGE STATUT -->
      <span 
        class="status-badge"
        [ngClass]="{
          'active': event.statut !== 'ARCHIVE',
          'archived': event.statut === 'ARCHIVE'
        }"
      >
        {{ event.statut === 'ARCHIVE' ? 'ARCHIVÉ' : 'ACTIF' }}
      </span>
    </div>

    <div class="event-content">

      <div class="event-title">{{ event.titre }}</div>

      <div class="event-info">📍 {{ event.lieu }}</div>
      <div class="event-info">📅 {{ event.dateDebut }} → {{ event.dateFin }}</div>
      <div class="event-info event-price">💰 {{ event.prix }} DT</div>

      <div class="event-badge">
        {{ event.typeEvenement?.nom }}
      </div>

      <div class="event-actions">
        <button class="btn btn-edit" (click)="editEvent(event.id)">
        Modifier
        </button>
        <button class="btn btn-delete" (click)="deleteEvent(event.id)">Supprimer</button>
      </div>

    </div>

  </div>

</div>

<ng-template #noData>
  <p style="text-align:center;">Aucun événement trouvé</p>
</ng-template>