<div class="container">

  <h2>Liste des utilisateurs</h2>

  <div class="toolbar">

    <!-- 🔍 SEARCH -->
    <input type="text"
            placeholder="Rechercher..."
            [(ngModel)]="searchTerm"
            (input)="applyFilters()" />

    <!-- 🔽 TYPE FILTER -->
    <select [(ngModel)]="selectedType" (change)="applyFilters()">
        <option value="">Tous les types</option>
        <option *ngFor="let t of typesAdherent" [value]="t">
        {{ t }}
        </option>
    </select>

    <!-- 🔽 DEPARTEMENT FILTER -->
    <select [(ngModel)]="selectedDepartement" (change)="applyFilters()">
        <option value="">Tous les départements</option>
        <option *ngFor="let d of departements" [value]="d">
        {{ d }}
        </option>
    </select>

    <!-- 🔃 SORT -->
    <select [(ngModel)]="sortOrder" (change)="applyFilters()">
        <option value="">Trier</option>
        <option value="asc">Nom A → Z</option>
        <option value="desc">Nom Z → A</option>
    </select>

    </div>
  
  <div class="users-grid">

    <div class="user-card"
         *ngFor="let user of filteredUsers"
          (click)="goToUser(user.matricule)">

      <!-- 🔹 Avatar -->
      <img *ngIf="user.hasPhoto; else defaultImg"
        [src]="user.photoUrl"
        class="user-avatar">

      <ng-template #defaultImg>
        <img src="assets/default-pfp.jpg" class="user-avatar">
      </ng-template>

      <!-- 🔹 Info -->
      <div class="user-info">
        <h3>{{ user.nom }} {{ user.prenom }}</h3>
        <p class="email">{{ user.email }}</p>
      </div>

      <!-- 🔹 Meta -->
      <div class="user-meta">
        <span class="badge departement">
          {{ user.departement }}
        </span>

        <span class="badge type">
          {{ user.typeAdherent }}
        </span>
      </div>

    </div>

  </div>

  <!-- PAGINATION -->
  <div class="pagination-wrapper">

    <div class="pagination-bar">

      <!-- PREVIOUS -->
      <button
        type="button"
        class="pagination-btn"
        (click)="previousPage()"
        [disabled]="currentPage === 0">

        ← Previous

      </button>

      <!-- INFO -->
      <div class="pagination-counter">

        <span class="pagination-current">
          {{ currentPage + 1 }}
        </span>

        <span class="pagination-slash">
          /
        </span>

        <span class="pagination-total">
          {{ totalPages }}
        </span>

      </div>

      <!-- NEXT -->
      <button
        type="button"
        class="pagination-btn"
        (click)="nextPage()"
        [disabled]="currentPage >= totalPages - 1">

        Next →

      </button>

    </div>

  </div>

</div>