<!-- LOADING -->
<div *ngIf="loading" class="loading-container">
  <div class="spinner"></div>
  <p>Chargement des événements...</p>
</div>

<!-- DATA -->
<div *ngIf="!loading && events.length > 0" class="events-container">

  <div class="event-card"
       *ngFor="let event of events"
       (click)="goToInscription(event.id)">

    <img 
  class="event-image"
  [src]="event.imageUrl"
  (error)="onImageError($event)">

    <div class="event-title">{{ event.titre }}</div>

    <div class="event-info">📍 {{ event.lieu }}</div>

    <div class="event-info">
      📅 {{ event.dateDebut || '-' }} → {{ event.dateFin || '-' }}
    </div>

    <div class="event-status">

      <span class="status pending" *ngIf="event.statut === 'EN_ATTENTE'">
        ⏳ En attente
      </span>

      <span class="status accepted" *ngIf="event.statut === 'ACCEPTE'">
        ✅ Accepté
      </span>

      <span class="status refused" *ngIf="event.statut === 'REFUSE'">
        ❌ Refusé
      </span>

    </div>

  </div>

</div>

<!--  EMPTY -->
<div *ngIf="!loading && events.length === 0" class="empty-container">
  <div class="empty-icon">📭</div>
  <h2>Aucun événement</h2>
  <p>Vous n'êtes inscrit à aucun événement.</p>
</div>